@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<!DOCTYPE html>
<html lang="zxx">
<body>

    <!--//banner-->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {


                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="single.html">
                                        <img src="@item.BlogImage" class="img-fluid" alt="" style="width: 720px; height: 360px">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#"D>
                                                <i class="far fa-calendar-alt"></i> @(((DateTime)item.CreateDate).ToString("dd-MMMM-yyyy"))
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i> 0 Beğeni
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-comment"></i> 0 Yorum
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>


                            <h3>
                                <a href="single.html">@item.BlogTitle </a>
                            </h3>
                            <p>
                                @item.BlogContent
                            </p>
                            <a href="/Blog/Index/" class="btn btn-primary read-m">Bloglara Git</a>
                        </div>
                    }
                    @await Component.InvokeAsync("CommentListByBlog",new {id=ViewBag.i }) 
                    @*@await Html.PartialAsync("~/Views/Comment/CommentListByBlog.cshtml")*@
                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")

                </div>

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/CoreBlogTema/web/images/banner2.jpg" class="img-fluid" alt="">
                        </div>
                        <h4>Mail Bültenimize Abone Olun</h4>
                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                        @await Component.InvokeAsync("CategoryList")

                        @await Component.InvokeAsync("WriterLastBlog")


                        
                        @foreach (var item in Model)
                        {
                            <div class="single-gd tech-btm">
                                <h4>Son Blog</h4>
                                <div class="blog-grids">
                                    <div class="blog-grid-left">
                                        <a href="single.html">
                                            <img src="@item.BlogImage" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-grid-right">

                                        <h5>
                                            <a href="single.html">@item.BlogTitle</a>
                                        </h5>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        }
                        </div>
                        
                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
</body>

</html>

